<%- include('../includes/head.ejs') %>
  <body>
      
    <%- include('../includes/navigation.ejs') %>


      <div class="container py-5">
        <h1 class="bg-warning text-center py-2"> Update Password </h1>
      <div class="container py-2">
        <div class="row">
          <div class="col-md-6">
            <% if(errorMessage) { %>
            <div class="bg-danger text-center"> <%= errorMessage %></div>
            <% } %>
          <form action="/new-password"  method="post">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">     
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <button type="submit" class="btn btn-primary">Update Password</button>
          </form>
        </div>
        </div>
      </div>
    </div>





    <%- include('../includes/end.ejs') %>