<%- include('../includes/head.ejs') %>
  <body>
      
    <%- include('../includes/navigation.ejs') %>


      <div class="container py-5">
        <h1 class="bg-warning text-center py-2 border border-info rounded">Enter For Signup</h1>
      <div class="container">
        <div class="row mx-5">
          <div class="col-md-6 ml-5 py-2">
              <% if(errorMessage) { %>
                <div class="alert text-danger"> <%= errorMessage %></div>
                <% } %>
          <form action="/signup"  method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control <%= error.name ? 'is-invalid':''  %>" id="name" name="name" placeholder="Enter Name" value="<%= value.name ? value.name : '' %>">
              <div class="invalid-feedback">
                <%= error.name && error.name%>
              </div>
            </div>
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input type="email" class="form-control <%= error.email ? 'is-invalid':''  %>" id="email" name="email" placeholder="Enter Email" value="<%= value.email ? value.email : '' %>">
              <div class="invalid-feedback">
                <%= error.email && error.email %>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control <%= error.password ? 'is-invalid':''  %>" id="password" name="password" placeholder="Enter Password" value="<%= value.password ? value.password : '' %>">
              <div class="invalid-feedback">
                <%= error.password && error.password%>
              </div>     
            </div>
            <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control <%= error.confirmPassword ? 'is-invalid':''  %>"  name="confirmPassword" placeholder="Enter Password"> 
                    <div class="invalid-feedback">
                      <%= error.confirmPassword && error.confirmPassword %>
                    </div>    
                  </div>
                  <div class="form-group">
                    <label for="gender">Gender</label><br>
                    <input type="radio" id="gender" name="gender" value="Male" >Male<br>
                    <input type="radio" id="gender" name="gender" value="Female" >Female<br>
                  </div>
           <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control <%= error.phone ? 'is-invalid':''  %>" id="phone" name="phone" placeholder="+880" value="<%= value.phone ? value.phone : '' %>">
                    <div class="invalid-feedback">
                      <%= error.phone && error.phone %>
                    </div>
          </div>
            <button type="submit" class="btn btn-outline-primary">Sign Up</button>
          </form>
        </div>
        </div>
      </div>
    </div>





    <%- include('../includes/end.ejs') %>