<%- include('../includes/head.ejs') %>
  <body>


        <%- include('../includes/chartnavigation.ejs') %>
    <div class="">
        <div class="row">
            <div class="col-md-12 px-5">
                    <%- include('../aricha/arichachart.ejs') %> <br>

                    <%- include('../aricha/arichachartt.ejs') %>   <br>
                 
                    <%- include('../aricha/arichacharttt.ejs') %>
            </div>
        </div>
    </div>


    <%- include('../includes/end.ejs') %>