<%- include('../includes/head.ejs') %>
  <body>


        <%- include('../includes/chartnavigation.ejs') %>
    <div class="container">
        <div class="row">
            <div class="px-5">
                    <%- include('../sylhet/sylhetchart.ejs') %> <br>
                    <%- include('../sylhet/sylhetchart2.ejs') %> <br>
                    <%- include('../sylhet/sylhetchart3.ejs') %> <br>
            </div>
        </div>
    </div>


    <%- include('../includes/end.ejs') %>