<%- include('../includes/head.ejs') %>
  <body>
      
    <%- include('../includes/adminnavigation.ejs') %>


      <div class="container py-5 ">
        <h1 class="bg-warning text-center py-2"> Submit Dhaka-Aricha highway information </h1>
      <div class="container">
        <div class="row ">
          <div class="col-md-6 ml-5 py-3">
          <form action="/admin"  method="post">
            <div class="form-group">
              <label for="monthAccident">No of month accident</label>
              <input type="number" class="form-control <%= error.monthAccident ? 'is-invalid':''  %>" id="monthAccident" name="monthAccident" placeholder="Enter no of month accident">
              <div class="invalid-feedback">
                <%= error.monthAccident && error.monthAccident %>
              </div>
            </div>
            <div class="form-group">
              <label for="month">Month</label>
              <input type="text" class="form-control <%= error.month ? 'is-invalid':''  %>" id="month" name="month" placeholder="Enter month name">   
              <div class="invalid-feedback">
                <%= error.month && error.month %>
              </div>  
            </div>
            <div class="form-group">
                <label for="busAccident">No of bus accident</label>
                <input type="number" class="form-control <%= error.busAccident ? 'is-invalid':''  %>" id="busAccident" name="busAccident" placeholder="Enter no of bus accident">
                <div class="invalid-feedback">
                  <%= error.busAccident && error.busAccident %>
                </div>
              </div>
              <div class="form-group">
                <label for="busName">Bus name</label>
                <input type="text" class="form-control <%= error.busName ? 'is-invalid':''  %>" id="busName" name="busName" placeholder="Enter bus Name">  
                <div class="invalid-feedback">
                  <%= error.busName && error.busName %>
                </div>   
              </div>
              <div class="form-group">
                <label for="locationAccident">No of location accident</label>
                <input type="number" class="form-control <%= error.locationAccident ? 'is-invalid':''  %>" id="locationAccident" name="locationAccident" placeholder="Enter no of bus location Accident">
                <div class="invalid-feedback">
                  <%= error.locationAccident && error.locationAccident %>
                </div>
              </div>
              <div class="form-group">
                <label for="location">Location name</label>
                <input type="text" class="form-control <%= error.location ? 'is-invalid':''  %>" id="location" name="location" placeholder="Enter bus location "> 
                <div class="invalid-feedback">
                  <%= error.location && error.location %>
                </div>    
              </div>
              <div class="form-group">
                <label for="location"> Lat </label>
                <input type="text" class="form-control <%= error.lat ? 'is-invalid':''  %>" id="lat" name="lat" placeholder="Enter location Lat"> 
                <div class="invalid-feedback">
                  <%= error.lat && error.lat %>
                </div>    
              </div>
              <div class="form-group">
                <label for="location">Lng</label>
                <input type="text" class="form-control <%= error.lng ? 'is-invalid':''  %>" id="lng" name="lng" placeholder="Enter location Lng"> 
                <div class="invalid-feedback">
                  <%= error.lng && error.lng %>
                </div>    
              </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </form>
        </div>
        </div>
      </div>
    </div>





    <%- include('../includes/end.ejs') %>